<script type="text/javascript">
	var duoshuoQuery = {short_name:"icsbear"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
</script>

<div class="ui  basic segment">
	<div class="ui huge header">
		<%= @post.title %>
	</div>
	<div class="ui small header">
		created at <%= time_ago_in_words(@post.created_at) %> ago
		<% if logged_in?  %>
		<%= link_to 'edit', edit_post_path(@post) %>
		<%= link_to 'delete', post_path(@post), method: :delete, data: { confirm: "are you sure" } %>
		<% end %>
	</div>
	<p><%= markdown @post.body %></p>
	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="<%= @post.id %>" data-title="<%= @post.title %>" data-url= <%=post_url(@post) %>> </div>
<!-- 多说评论框 end -->
</div>