<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

</head>
<body>
	<!-- <div class="overlay">
      <div class="ui labeled icon vertical menu">
        <a href="" class="active item" ><i class="home icon"></i>Home</a>
		<a href="" class="item" ><i class="file text out icon"></i>Posts</a>
		<a href="" class="item" ><i class="cubes icon"></i>Projects</a>
		<a href="#top" class="item" ><i class="arrow up icon"></i>Top</a>
      </div>
    </div> -->

	<div class="ui  tabular  menu" id="top">
		<%= link_to "Home", root_path, class: "item" %>
		<%= link_to "Posts", posts_path, class: "item" %>
		<%= link_to "Projects", projects_path, class: "item" %>
		<%= link_to "Tags", tags_path, class: "item" %>
		<!-- <a href="http://icsbear.herokuapp.com/" class=" item" ><i class='home icon'></i>Home</a>
		<a href="http://icsbear.herokuapp.com/posts" class="item" ><i class="file text out icon"></i>Posts</a>
		<a href="http://icsbear.herokuapp.com/projects" class="item" ><i class="cubes icon"></i>Projects</a> -->
		<!-- <div class="ui bottom attached tab " data-tab="first"></div>
		<div class="ui bottom attached tab " data-tab="second"></div>
		<div class="ui bottom attached tab " data-tab="third"></div> -->
		<div class="right menu">
			<% if logged_in? %>
			  <div class="item">
				<div class="ui labeled icon secondary basic button">
					<i class="paste in icon"></i>
					<%= link_to 'New post', new_post_path%>
				</div>
			  </div>
			  <%= link_to "Sign out", logout_path, method: :delete, class: "item" %>
			<% else %>
			<div class="item">
				<div class="ui labeled icon secondary basic button">
					<i class="sign in icon"></i>
					<%= link_to "Sign in", login_path %>
				</div>
			  </div>
			  
			<% end %>	
		</div>
	</div>

	<div class="ui text grid container">
		<%= yield %>
	</div>

	<div class="ui text center aligned container">
		<div class="ui divider"></div>
		<div class="ui  container">
			<a href="https://github.com/icsbear" class="item"> <i class="big link github icon"></i> </a>
			<a href="https://twitter.com/Icsbearr" class="item"> <i class="big link twitter icon"></i></a>
			<a href="http://weibo.com/2838448780/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" class="item"> <i class="big link weibo icon"></i></a>
		</div>
			
	</div>
	</body>
	
<script>
// $('.menu .item')
//   .tab()
// ;
$('.ui.form')
.form({
    fields: {
      session_email     : 'empty',
      session_password   : ['minLength[6]', 'empty']
    }
  })
;



// $('.overlay').visibility({
//         type: 'fixed',
//         offset: 80
//       });

</script>
</html>
